
  <div class="todo-container">
    <h4>To Do List</h4>
    <input [(ngModel)] ="newTask" placeholder="Enter new task" />
    <button (click)="addTask()">Add</button>
    <button *ngIf="todoList.length > 0" (click)="deleteCompletedTasks()">Clear Completed</button>
  <ul class="task-list">
    <li *ngFor="let todoItem of todoList; let i = index" class="task-item">
      <input 
         type="checkbox" 
         (change)="toggleCompleted(i)"
         />
      <span [ngClass]="{'completed': todoItem.completed}">{{todoItem.task}}</span>
      <button class="delete-button" (click)="deleteTask(todoItem.id)">✖</button>
    </li>
  </ul>
</div>
